.yellow{
  background-color: yellow;
}
.lightblue{
  background-color: lightblue;
}
.pad-40{
  padding: 40px;
}
.border{
  border: 4px solid black;
}
.h150{
  height: 150px;
}
.green{
  background-color: lightgreen;
  height: 50px;
}
.pink{
  background-color: pink;
}
.purple{
  background-color: purple;
}
.h300{
  height: 300px;
}
.orange{
  background-color: orange;
}
.black{
  background-color: black;
  height: 50px
}
.footer{
  color: white;
}
